@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f9fafb;
}

/* Override ReactFlow control styles */
.react-flow__controls {
  z-index: 1 !important;
}

.react-flow-container {
  z-index: 0;
}

.h-full {
  height: 100%;
}

/* If needed, also ensure the root elements have full height */
html, body, #__next {
  height: 100%;
}
